<div class="container">
  <footer class="footer">
    <small>
      Copright &copy; <a href="#">Alpha Blog</a> by Emerson McComb
    </small>
    <nav>
      <ul>
        <li><small>This web app's sole purpose is being a prototype</small></li>
      </ul>
    </nav>
  </footer>
</div>